.bg-purple-dark {
    background-color: #571770 !important;
}

.bg-purple-white {
    --bs-list-group-bg: #7f008d !important;
    background-color: #7f008d !important;
}

.text-purple-dark {
    color: #571770 !important;
}

.text-purple-white {
    color: #7f008d !important;
}